ARCHS = ppc i386
SDKROOT = /Developer/SDKs/MacOSX10.4u.sdk

FRAMEWORK_SEARCH_PATHS = $(HOME)/Library/Frameworks/
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_USE_GCC3_PFE_SUPPORT = YES
INFOPLIST_FILE = Info.plist
INFOPLIST_PREPROCESS = YES
INSTALL_PATH = @loader_path/../Frameworks
WRAPPER_EXTENSION = framework
ZERO_LINK = YES

COPY_PHASE_STRIP = YES
GCC_OPTIMIZATION_LEVEL = s
SKIP_INSTALL = NO
ZERO_LINK = NO

PREBINDING = NO
