<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Emily Dickinson Keywords</string>
	<key>CFBundleGetInfoString</key>
	<string>Emily Dickinson Keywords</string>
	<key>CFBundleIdentifier</key>
	<string>Emily Dickinson Keywords</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Emily Dickinson Keywords</string>
	<key>CFBundlePackageType</key>
	<string>hvpl</string>
	<key>CFBundleSignature</key>
	<string>hook</string>
	<key>CFBundleVersion</key>
	<string>0.0.1d1</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>4DEB1084-98E1-4FBF-8F16-A9A23594C8A0</key>
		<string>MyFactoryFunction</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>2F509487-8471-47E1-83D3-0F421A402278</key>
		<array>
			<string>7715EE3F-E0AC-4D9C-8C3E-95BB8C14D650</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
</dict>
</plist>
