<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>LivingWords</string>
	<key>CFBundleIdentifier</key>
	<string>com.nekotech.LivingWords</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>LivingWords</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>Words</key>
	<array>
		<string>Living</string>
		<string>Dying</string>
		<string>Life</string>
		<string>Death</string>
		<string>Stork</string>
		<string>Reaper</string>
		<string>Newborn</string>
		<string>Elderly</string>
	</array>
</dict>
</plist>
