<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RedrawInterval</key>
	<real>1</real>
	<key>SampleInterval</key>
	<string>1</string>
	<key>WindowTransparency</key>
	<real>0.75</real>
	<key>IgnoredApps</key>
	<array>
		<string>WhereDidTheTimeGo</string>
	</array>
</dict>
</plist>
