<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>SpaceDefender</string>
	<key>CFBundleGetInfoString</key>
	<string>SpaceDefender 1.0a1, ©2006 Sugar Maple Software, Inc</string>
	<key>CFBundleIconFile</key>
	<string>SpaceDefender</string>
	<key>CFBundleIdentifier</key>
	<string>com.sugarmaplesoftware.SpaceDefender</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0a1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0</string>
	<key>LSEnvironment</key>
	<dict>
		<key>MinimumSystemVersion</key>
		<string>10.4.0</string>
	</dict>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>OSAScriptingDefinition</key>
	<string>AppleScriptInfo.sdef</string>
</dict>
</plist>
