<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>mapName</key>
		<string>instructions2</string>
		<key>sound</key>
		<string>close</string>		
		<key>weaponButtonImage</key>
		<string>fart</string>
		<key>ventButtonImage</key>
		<string>vent</string>
	</dict>
	<dict>
		<key>avatarStartX</key>
		<integer>4</integer>
		<key>avatarStartY</key>
		<integer>9</integer>
		<key>foeCount</key>
		<integer>5</integer>
		<key>mapName</key>
		<string>cube1</string>
		<key>avatarImage</key>
		<string>man</string>
		<key>foeImage</key>
		<string>foe</string>
		<key>deadFoeImage</key>
		<string>poo</string>
		<key>weaponColor</key>
		<string>0.639 0.557 0.0667 1</string>
		<key>weaponButtonImage</key>
		<string>fart</string>
		<key>ventButtonImage</key>
		<string>vent</string>
	</dict>
	<dict>
		<key>avatarStartX</key>
		<integer>4</integer>
		<key>avatarStartY</key>
		<integer>0</integer>
		<key>foeCount</key>
		<integer>5</integer>
		<key>mapName</key>
		<string>cube2</string>
		<key>avatarImage</key>
		<string>man</string>
		<key>foeImage</key>
		<string>foe</string>
		<key>deadFoeImage</key>
		<string>poo</string>
		<key>weaponColor</key>
		<string>0.639 0.557 0.0667 1</string>
		<key>weaponButtonImage</key>
		<string>fart</string>
		<key>ventButtonImage</key>
		<string>vent</string>
	</dict>
	<dict>
		<key>avatarStartX</key>
		<integer>4</integer>
		<key>avatarStartY</key>
		<integer>0</integer>
		<key>foeCount</key>
		<integer>5</integer>
		<key>mapName</key>
		<string>cube3</string>
		<key>avatarImage</key>
		<string>man</string>
		<key>foeImage</key>
		<string>foe</string>
		<key>deadFoeImage</key>
		<string>poo</string>
		<key>loverPresent</key>
		<true/>
		<key>loverImage</key>
		<string>busty</string>
		<key>loverString</key>
		<string>You saved Busty!</string>		
		<key>loverXPos</key>
		<integer>1</integer>
		<key>loverYPos</key>
		<integer>8</integer>
		<key>weaponColor</key>
		<string>0.639 0.557 0.0667 1</string>
		<key>weaponButtonImage</key>
		<string>fart</string>
		<key>ventButtonImage</key>
		<string>vent</string>
	</dict>
	<dict>
		<key>avatarStartX</key>
		<integer>9</integer>
		<key>avatarStartY</key>
		<integer>5</integer>
		<key>foeCount</key>
		<integer>5</integer>
		<key>mapName</key>
		<string>cube4</string>
		<key>avatarImage</key>
		<string>man</string>
		<key>foeImage</key>
		<string>foe</string>
		<key>deadFoeImage</key>
		<string>poo</string>
		<key>weaponColor</key>
		<string>0.639 0.557 0.0667 1</string>
		<key>weaponButtonImage</key>
		<string>fart</string>
		<key>ventButtonImage</key>
		<string>vent</string>
	</dict>
		<dict>
		<key>mapName</key>
		<string>final</string>
		<key>sound</key>
		<string>close</string>		
		<key>weaponButtonImage</key>
		<string>fart</string>
		<key>ventButtonImage</key>
		<string>vent</string>
	</dict>
		<dict>
		<key>avatarStartX</key>
		<integer>0</integer>
		<key>avatarStartY</key>
		<integer>0</integer>
		<key>foeCount</key>
		<integer>5</integer>
		<key>avatarImage</key>
		<string>doctor</string>
		<key>foeImage</key>
		<string>dalek</string>
		<key>deadFoeImage</key>
		<string>whopoo</string>
		<key>weaponColor</key>
		<string>0.443 0.651 0.957 1</string>
		<key>weaponButtonImage</key>
		<string>sonicscrewdriver</string>
		<key>ventButtonImage</key>
		<string>tardis</string>
	</dict>

</array>
</plist>
